<template>
  <div class="container" if.bind="isConnected">
    <connect-bar info.bind="userInfo"></connect-bar>
    <table>
      <tbody>
        <tr>
          <td style="text-align:center">
            <table>
              <tr>
                <td>
                  <div if.bind="hasEtudiantUrl">
                    <img src.bind="etudiantUrl" height="128">
                    </img>
                  </div>
                </td>
                <td>
                    <h2>${fullname}</h2>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td style="vertical-align:top">
                  <div class="form-group">
                    <label class="form-label" for="sexe">Sexe</label>
                    <input class="form-control" type="text" id="sexe" value.bind="sexe" readonly></input>
                  </div
                    <div class="form-group">
                      <label class="form-label" for="username">Identifiant</label>
                      <input class="form-control" type="text" id="username" value.bind="username" readonly></input>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="lastname">Nom de famille</label>
                      <input class="form-control" type="text" id="lastname" value.bind="lastname" readonly></input>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="firstname">Prénom(s)</label>
                      <input class="form-control" type="text" id="firstname" value.bind="firstname" readonly></input>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="email">Courriel</label>
                      <input class="form-control" type="email" id="email" value.bind="email" readonly></input>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="phone">Téléphone</label>
                      <input class="form-control" type="tel" id="phone" value.bind="phone" readonly></input>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="description">Description</label>
                      <textarea class="form-control" id="description" readonly.bind="isReadOnly" value.bind="description" readonly></textarea>
                    </div>
                </td>
              <td style="vertical-align:top">
                  <div class="form-group">
                    <label class="form-label" for="birthDate">Date de naissance</label>
                    <input class="form-control" type="date" id="birthDate" value.bind="birthDate" readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="dossier">Dossier</label>
                    <input class="form-control" type="text" id="dossier" value.bind="dossier" readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="etablissement">Etablissement</label>
                    <input class="form-control" type="text" id="etablissement" value.bind="etablissement" readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="ville">Ville</label>
                    <input class="form-control" type="text" id="ville" value.bind="ville"  readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="seriebac">Série bac</label>
                    <input class="form-control" type="text" id="seriebac" value.bind="serieBac" placeholder="Série bac" readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="optionbac">Option bac</label>
                    <input class="form-control" type="text" id="optionbac" value.bind="optionBac" readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="mentionbac">Mention bac</label>
                    <input class="form-control" type="text" id="mentionbac" value.bind="mentionBac" readonly></input>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="sup">Etudes supérieures</label>
                    <input class="form-control" type="text" id="sup" value.bind="etudesSuperieures" readonly></input>
                  </div>
                </td>
                <td style="vertical-align:top">
                  <table id="link-table">
                    <tr>
                      <th>Date</th>
                      <th>Genre</th>
                      <th>Matiere</th>
                      <th>Devoir</th>
                      <th>Observations</th>
                      <th>note</th>
                    </tr>
                    <tr repeat.for="evt of evts">
                      <td>
                        ${evt.dateString}
                      </td>
                      <td>
                        ${evt.genre}
                      </td>
                      <td>
                        ${evt.matiereSigle}
                      </td>
                      <td>
                        ${evt.groupeEventName}
                      </td>
                      <td>
                        ${evt.description}
                      </td>
                      <td>
                        ${evt.note}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
