<template>
  <require from='./connect-bar'></require>
  <connect-bar info.bind="userInfo"></connect-bar>
  <h3 show.bind="hasErrorMessage" class="text-danger">${errorMessage}</h3>
  <h3 show.bind="hasInfoMessage" class="text-success">${infoMessage}</h3>
  <div if.bind="isConnected">
    <div class="row">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-4">
        <img src.bind="homeImageUrl" ></img>
      </div>
    <div class="col-sm-2">&nbsp;</div>
  </row>
  </div>
</template>
